---
# Set a disk type, Options: JBOD, RAID6, RAID10
gluster_infra_disktype: JBOD

# RAID6 and RAID10 diskcount (Needed only when disktype is raid)
#gluster_infra_diskcount: 10
# Stripe unit size always in KiB
#gluster_infra_stripe_unit_size: 128

# Variables for creating volume group
gluster_infra_volume_groups:
  - { vgname: 'GLUSTER_vg1', pvname: '/dev/sdb' }

# Create thinpools
gluster_infra_thinpools:
  - {vgname: 'GLUSTER_vg1', thinpoolname: 'GLUSTER_pool1', thinpoolsize: '5G', poolmetadatasize: '1G'}

# Create a thin volume
gluster_infra_lv_logicalvols:
  - { vgname: 'GLUSTER_vg1', thinpool: 'GLUSTER_pool1', lvname: 'GLUSTER_lv1', lvsize: '5G' }

# Mount the devices
gluster_infra_mount_devices:
  - { path: '/gluster/brick1', vgname: 'GLUSTER_vg1', lvname: 'GLUSTER_lv1' }

gluster_cluster_volume: 'testvol'
gluster_cluster_bricks: '/gluster/brick1'
