[all:vars]
gluster_volumes=testvol
gluster_cluster_replica_count=3
#gluster_cluster_disperse_count=3
node0=gluster1
build="upstream"
#build="custom"
#custom_build_url="https://download.gluster.org/pub/gluster/glusterfs/8/8.1/Fedora/fedora-32/x86_64/"
#custom_build_repo_url=
#custom_build_path=/tmp/rpms/
benchmarking_tools=0
backend_variables=~/config-for-cluster1/cluster1-backend-vars.yml
cleanup_vars=~/config-for-cluster1/cluster1-cleanup-vars.yml
#rhsm_vars=~/config-for-cluster1/rhsm-vars.yml
use_rhsm_repository=0
tool="smallfile"
download_results_at_location=~/config-for-cluster1/

[control]
control_machine ansible_host=fsmgmt ansible_connection=local

[master_server]
gluster1

[master_client]
gluster1

[cluster_servers]
gluster1
gluster2
gluster3

[cluster_clients]
gluster1 should_mount_from=gluster1
gluster2 should_mount_from=gluster2
gluster2 should_mount_from=gluster2

[cluster_machines:children]
cluster_servers
cluster_clients
